<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="left" style="background-color: aqua; height: 700px; width: 200px; float: left; text-align: center; top: 90px; position: absolute;">
            <br />
            <a href="index" style="font-size: x-large;">Home</a>
            <br />
            <br />
            <a href="projecttype" style="font-size: x-large;">Project Type</a>
            <br />
            <br />
            <a href="project" style="font-size: x-large;">Project</a>
        </div>
        
        <div style="display: block; position: absolute; width: 1520px; height: 25px; bottom: 0px; float: bottom; background-color: orange; text-align: center">
            <FONT face=Arial><STRONG><A href="http://www.copyrightauthority.com/copyright-symbol">Copyright</A>&nbsp;&nbsp2015  Alvaro Soto - All Rights Reserved</STRONG></FONT>
        </div>
    </body>
</html>
